// This configuration file is used to define the general parameters for the pipeline when ran in IRBCluster
params {
    // Reference files
    reference                   = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/reference_fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna"
    germline_vcf                = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/germline_vcf/"
    noise_mask                  = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/noise_mask/NOISE_GRCh38.wgns.bed.gz"
    indel_bed                   = null

    // Input files
    params.sample_name          = null
    params.read1                = null
    params.read2                = null

    // Barcode trimming parameters
    params.barcode_pattern      = "NNNXXXX"

    // Alignment parameters
    params.threads              = 4
    params.read_group_id        = null
    params.platform             = "ILLUMINA"

    // DupCaller parameters
    params.regions              = "chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY"
    params.max_af               = 0.35 // Set to same as deepUMIcaller
    params.germline_af_cutoff   = 0.001
    params.min_n_depth          = 10
    params.max_zero_qual_frac   = 0.5
    params.trim_template        = 7
    params.trim_read            = 7
    params.mapq                 = 40
    params.window_size          = 100000

    // Skip options
    params.skip_trim            = false
    params.skip_align           = false
    params.skip_normal          = true
}

process {
    executor = 'slurm'
    queue = 'bbg_cpu_zen4,irb_cpu_zen4'
    errorStrategy = 'retry'
    maxRetries = 2
}

process {
    withLabel: dupcaller-nextflow {
        container = "docker.io-mhuertas-dupcaller-nextflow-test"
    }
}

// Define the cacheDir for the singularity images
singularity.cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
singularity.libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'