// This configuration file is used to define the general parameters for the pipeline when ran in IRBCluster
params {
    // Reference files
    reference                   = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/reference_fasta/GCA_000001405.15_GRCh38_no_alt_analysis_set.masked.fna"
    germline_vcf                = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/germline_vcf/gnomad.genomes.v4.0.sites.af_0.001.all_chrs.vcf.gz"
    noise_mask                  = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/noise_mask/NOISE_GRCh38.wgns.bed.gz"
    indel_bed                   = null
    // gene_bed                    = "/data/bbg/nobackup2/scratch/fcalvet/test_dupcaller/references/gene_bed/PanCancerPanel.original.hg38.chr.expanded250.bed6.bed.gz"

    // Input files
    params.sample_name          = "CH_pat1"
    params.read1                = "/data/bbg/datasets/transfer/ferriol_deepumicaller/B5_1_downsampled.fastq.gz"
    params.read2                = "/data/bbg/datasets/transfer/ferriol_deepumicaller/B5_2_downsampled.fastq.gz"

    params.samplesheet          = "/data/bbg/datasets/transfer/ferriol_deepumicaller/input_dupcaller.csv"

    // Barcode trimming parameters
    // For the test data 
    //params.barcode_pattern      = "NNNNNNNNNNX"
    // For Rosana's bladder
    params.barcode_pattern      = "NNNNNNNNX"

    // Alignment parameters
    params.threads              = 40
    params.read_group_id        = null
    params.platform             = "ILLUMINA"

    // DupCaller parameters
    params.regions              = "chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 chr19 chr20 chr21 chr22 chrX chrY"
    
    // this parameter is fully ignored right now
    params.region_file          = "/data/bbg/datasets/prominent/metadata/regions/data/seq_panels/xgen-exome-hyb-panel-v2-targets-hg38.bed"

    params.max_af               = 1 // Set to 1 and run deepCSA later
    params.germline_af_cutoff   = 0.001
    params.min_n_depth          = 10
    params.max_zero_qual_frac   = 0.5
    params.trim_template        = 7
    params.trim_read            = 7
    params.mapq                 = 40
    params.window_size          = 100000

    // Skip options
    params.skip_trim            = false
    params.skip_align           = false
    params.skip_normal          = true
}

process {
    executor = 'slurm'
    queue = 'bbg_cpu_zen4,irb_cpu_zen4'
    errorStrategy = 'finish'
    
    withLabel: 'dupcaller_nextflow' {
        container = "docker.io-mhuertas-dupcaller-nextflow-test"
    }
}

// Define the cacheDir for the singularity images
singularity.cacheDir = '/data/bbg/datasets/pipelines/nextflow_containers'
singularity.libraryDir = '/data/bbg/datasets/pipelines/nextflow_containers'