/*
 * DupCaller Nextflow Pipeline Configuration
 */

// Global default params
params {
    // Pipeline info
    help = false
    outdir = "./results"

    // Default resource requirements
    max_memory = 64.GB
    max_cpus = 1
    max_time = 240.h
}

// Process resource requirements
process {
    // Default resources
    cpus = 1
    memory = 4.GB
    time = 4.h

    // Error handling
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3

    withName: INDEX_REFERENCE {
        cpus = 1
        memory = 8.GB
        time = 2.h
    }

    withName: TRIM_BARCODES {
        cpus    = { 4 * task.attempt }
        memory  = 4.GB
        time    = 16.h
    }

    withName: BWA_ALIGN {
        cpus    = { 20 }
        memory  = { 64.GB * task.attempt }
        time    = { 4.h * task.attempt }
    }

    withName: MARK_DUPLICATES {
        cpus    = { 2 }
        memory  = { 64.GB * task.attempt }
        time    = { 24.h * task.attempt }
    }

    withName: CALL_VARIANTS {
        cpus    = { params.threads }
        memory  = { 64.GB * task.attempt }
        time    = { 24.h * task.attempt }
    }

    withName: ESTIMATE_BURDEN {
        cpus    = 2
        memory  = { 16.GB * task.attempt }
        time    = { 24.h * task.attempt }
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process {
            executor = 'slurm'
        }
        executor {
            queueSize = 50
            submitRateLimit = '10 sec'
        }
    }

    sge {
        process {
            executor = 'sge'
            penv = 'smp'
        }
        executor {
            queueSize = 50
            submitRateLimit = '10 sec'
        }
    }

    pbs {
        process {
            executor = 'pbs'
        }
        executor {
            queueSize = 50
            submitRateLimit = '10 sec'
        }
    }

    docker {
        docker.enabled = true
        docker.userEmulation = true
        process.container = 'dupcaller:latest'
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        // process.container = 'dupcaller.sif'
    }

    test {
        params {
            sample_name = 'test_sample'
            threads = 1
            max_memory = 8.GB
            max_cpus = 1
        }
    }

    irbcluster {
        includeConfig 'irbcluster.config'
    }
}

// Container settings
docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = false
    autoMounts = true
}

// Manifest
manifest {
    name = 'DupCaller'
    author = 'DupCaller team'
    homePage = 'https://github.com/YuheCheng62/DupCaller'
    description = 'Pipeline for calling somatic mutations from error-corrected NGS data'
    mainScript = 'DupCaller.nf'
    nextflowVersion = '>=24.04.0'
    version = '1.0.0'
}

// Pipeline reporting
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/${params.sample_name}/pipeline_info/execution_timeline_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/${params.sample_name}/pipeline_info/execution_report_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/${params.sample_name}/pipeline_info/execution_trace_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/${params.sample_name}/pipeline_info/pipeline_dag_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.svg"
}

